body{
    background-color:#add8e6;
    }
    
    form{
        
        color:#0000ff;
    
    }
    
    h1,p{
     
     color:#0000ff;
    
    }
    
    
    
    button{
    color:#0000ff;
    }
    
    fieldset{
        border-width: 1px;
        border-color: #0000ff;
    }
